h1 {
  color: blue;
}
ul >li {

  font-weight: lighter;
  color: red;
  border: 1px solid black;
}

body {
  background-color: pink;
}

#headerpara{

    color: red;

}

p.pclasstemp{
  color: red;
  background-color: orange;
  }

p.pclass2{

  color: white;
  background-color: black;
}
